
Bee survival/Data/.DS_Store
Bee survival/Code/.DS_Store
Bee survival/Code/.Rhistory
Bee survival/Figures/.DS_Store
Lethal and Sublethal/Figures/.DS_Store
Lethal and Sublethal/Effect_sizes/continuous/Code/.Rhistory
Lethal and Sublethal/Effect_sizes/continuous/Data/.DS_Store
Lethal and Sublethal/Effect_sizes/continuous/.DS_Store
Lethal and Sublethal/Effect_sizes/continuous/Results/.DS_Store
Lethal and Sublethal/Effect_sizes/categorical/.DS_Store
Lethal and Sublethal/Effect_sizes/categorical/Data/.DS_Store
Lethal and Sublethal/Effect_sizes/categoricals/Code/.Rhistory
