
Bee survival/Data/.DS_Store
Bee survival/Code/.DS_Store
Bee survival/Code/.Rhistory
Bee survival/Figures/.DS_Store
Lethal and Sublethal/Figures/.DS_Store
Lethal and Sublethal/Effect_sizes/continuous/Code/.Rhistory
